<form method="post" action="{{ path('app_partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn">Apagar</button>
</form>
