{% extends 'base.html.twig' %}

{% block title %}Editar sócio{% endblock %}

{% block body %}
    <h1>Editar sócio</h1>

    {{ include('partner/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_partner_index') }}">back to list</a>

    {{ include('partner/_delete_form.html.twig') }}
{% endblock %}
