{% extends 'base.html.twig' %}

{% block title %}Listar sócio{% endblock %}

{% block body %}
    <h1>Listar sócio</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Document</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for partner in partners %}
                <tr>
                    <td>{{ partner.id }}</td>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.document }}</td>
                    <td>
                        <a href="{{ path('app_partner_show', {'id': partner.id}) }}">Show</a>
                        <a href="{{ path('app_partner_edit', {'id': partner.id}) }}">Edit</a>
                        <form action="{{ path('app_partner_delete', {'id': partner.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partner_new') }}" class="btn btn-primary">Create New Partner</a>
{% endblock %}
