{% extends 'base.html.twig' %}

{% block title %}Novo Sócio{% endblock %}

{% block body %}
    <h1>Criar novo sócio</h1>

    {{ include('partner/_form.html.twig') }}

    <a href="{{ path('app_partner_index') }}">back to list</a>
{% endblock %}
