{% extends 'base.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
    <h1>Partner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ partner.name }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td>{{ partner.document }}</td>
            </tr>
            <tr>
                <th>Companies</th>
                <td>
                    {% for company in partner.companies %}
                        <label>
                            <input type="checkbox" name="companies[]" value="{{ company.id }}" checked disabled>
                            {{ company.name }}
                        </label>
                        <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partner_index') }}">Back to list</a>

    <a href="{{ path('app_partner_edit', {'id': partner.id}) }}">Edit</a>

    {{ include('partner/_delete_form.html.twig') }}
{% endblock %}
