{% extends 'base.html.twig' %}

{% block title %}Atualização da empresa{% endblock %}

{% block body %}
    <h1>Atualização da empresa</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_company_index') }}">back to list</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
