{% extends 'base.html.twig' %}

{% block title %}Listagem de empresas{% endblock %}

{% block stylesheets %}
    <style>
        .content {
            background-color: #f0f0f0; 
            color: #002e69;
            padding: 20px;
            display: flex;
            justify-content: center; 
            align-items: center; 
            min-height: 100vh; 
        }
        .table {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content">
        <div>
            <h1>Company index</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Document</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company.id }}</td>
                        <td>{{ company.name }}</td>
                        <td>{{ company.document }}</td>
                        <td>
                            <a href="{{ path('app_company_show', {'id': company.id}) }}">show</a>
                            <a href="{{ path('app_company_edit', {'id': company.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_company_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
