{% extends 'base.html.twig' %}

{% block title %}Nova empresa{% endblock %}

{% block body %}
    <div style="width: 50%; margin: 0 auto;">
        <h1 style="text-align: center;">Criar nova empresa</h1>

        <div style="background-color: #f0f0f0; padding: 20px; border-radius: 5px;">
            {{ include('company/_form.html.twig') }}
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <a href="{{ path('app_company_index') }}" style="text-decoration: none; color: #002e69;">Back to List</a>
        </div>
    </div>
{% endblock %}
