{# templates/company/partners.html.twig #}

<h1>Parceiros da Empresa {{ company.getName() }}</h1>

<ul>
    {% for partner in partners %}
        <li>{{ partner.getName() }}</li>
    {% endfor %}
</ul>