{% extends 'base.html.twig' %}

{% block title %}Detalhes da empresa{% endblock %}

{% block body %}
    <h1>Detalhes da empresa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td>{{ company.document }}</td>
            </tr>
            <tr>
                <th>Partners</th>
                <td>
                    <ul>
                        {% for partner in company.partners %}
                            <li>{{ partner.name }} - {{ partner.document }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_company_index') }}">Back to List</a>

    <a href="{{ path('app_company_edit', {'id': company.id}) }}">Edit</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
